
.header__right_cart {
    width: 262px ;
    height: 440px;
    display: none;
    background-color: white;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(60px, auto);
    grid-template-areas:
                    "box1 box1"
                    "box2 box2"
                    "price price"
                    "button1 button1"
                    "button2 button2";
    position: absolute;
    margin-top: 250px;
    padding-left: 17px;
    padding-right: 17px;
    z-index: 1;
    & h2 {
        font-size: 12px;
        font-weight: bold;
        color: rgba(34, 34, 34, 1);
        text-align: right;
        text-transform: uppercase;
    }
    & p {
        font-size: 12px;
        font-weight: bold;
        color:$colorSite;
        text-transform: uppercase;
    }
    & p span {
        font-size: 10px;
    }
    & button {
        height: 50px;
        margin-bottom: 10px;
        background-color: white;
        border: 1px solid rgba(230, 230, 230, 1);
        font-size: 14px;
        font-weight: bold;
        color: rgba(74, 74, 74, 1);
        text-transform: uppercase;
    }
    & button:hover {
        border: 1px solid $colorSite;
        color: $colorSite;
    }
}

.header__right_cart_price {
    grid-area: price;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    & h2 {
        font-size: 16px;
        font-weight: 800;
        color: rgba(34, 34, 34, 1);
        text-transform: uppercase;
    }
  }
  


.header__right_cart_box1 {
  grid-area: box1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  margin-bottom: 16px;
  margin-top: 21px;
}
.header__right_cart_box2 {
  grid-area: box2;
  display: flex;
  justify-content: space-around;
  align-items: center;
   border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.header__right_cart_button1 {
    grid-area: button1;
  }
.header__right_cart_button2 {
    grid-area: button2;
  }
.header__right_cart_close {
    color: black;
}
.header__right_cart_img {
  width: 72px;
  height: 85px;
}
.header__cart:hover ~ .header__right_cart {
    display: grid;
    position:absolute;
    z-index: 1;
}
.header__cart .button {
    display: flex;
    align-items: center;
   height: 38px;
   width: 130px;
   background-color: $colorSite;
   font-size: 15px;
   color: rgba(255, 255, 255, 1);
   letter-spacing: 0.03em;
   line-height: 32px;
   padding-left: 19px;
}